.env
sdal-modern/server/.env
node_modules/
sdal-modern/client/node_modules/
sdal-modern/server/node_modules/
sdal-modern/node_modules/
sdal_new/node_modules/
dist/
sdal-modern/client/dist/
sdal-modern/uploads/
sdal_new/dist/
.DS_Store
Thumbs.db
